<!-- This is an error page telling admin that the new driver cannot be added if the age is under 12. -->
{% extends "admin_base.html" %} {% block title %}Oops...{% endblock %} {% block content%}
<!-- If admin is adding a new junior driver whoes age is calculated younger than 12 years old,
the error message will be sent from 'add_junior_driver' to this template.-->
{% if error_message%}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h2 class="fw-medium">{{ error_message }}</h2>
    </div>
</div>
<p></p>
{% endif %} {% endblock %}