<!-- Display all junior drivers -->
{% extends "admin_base.html" %}{% block title %}Junior List{% endblock %}{% block content%}
<div class="container-fluid">
    <!-- Heading -->
    <div class="bg-body-tertiary">
        <div class="container-fluid py-5">
            <h1 class="text-body-emphasis">Junior Driver List</h1>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <!-- Headings of the junior driver list table -->
        <thead>
            <tr>
                <th scope="col">Driver ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Age</th>
                <th scope="col">Caregiver</th>
            </tr>
        </thead>

        <!-- Data of the table -->
        <!-- Use Flask to get the data from the 'junior_drivers' list -->
        <tbody class="table-group-divider">
            {% for junior in junior_drivers %}
            <tr>
                <!-- Loop through each driver's tuple and get each data inside -->
                <!-- Get the first item of each tuple which is driver id, 
                    make driver id a link and pass driver id to "driver_data" so admin can easily access the driver's details-->
                {% for item in junior %} {% if loop.index == 1 %}
                <td><a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ url_for('driver_data', driver_id=item) }}">{{ item }}</a></td>
                <!-- Add the link to the caregiver's name if there is one -->
                {% elif item and loop.index == 6 %}
                <td><a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ url_for('driver_data', driver_id=junior[6]) }}">{{ item }}</a></td>
                {% elif loop.index == 7 %}
                <!-- Skip caregiver's id and not display it in the frontend, so leave here blank -->
                <!-- continue -->
                {% else %}
                <td>{{ item }}</td>
                {% endif %} {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> {% endblock %}