{% extends "admin_base.html" %}{% block title %}{{ driver_id }}-{{ driver[1] }} {{ driver[2] }}{% endblock %} {% block content%}
<!-- Check if data has been updated and message has been sent out from "update_run" to "driver_data" -->
{% if success_message %}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="liveAlertPlaceholder">
    <div class="d-flex justify-content-between align-items-center">
        {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
<div class="container mt-3 marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Check if it's a junior driver -->
            <!-- If yes, add '(J)' to his name -->
            {% if driver[5] and driver[5] in range(12, 26)%}
            <h1 class="fw-normal">{{ driver[1] }} {{ driver[2] }} (J)</h1>
            {% else %}
            <h1 class="fw-normal">{{ driver[1] }} {{ driver[2] }}</h1>
            {% endif %}
            <h5 class="fw-normal">Driver ID: {{ driver_id }}</h5>
            <h5 class="fw-normal">Car Model: {{ driver[3] }}</h5>
            <h5 class="fw-normal">Driver Class: {{ driver[4] }}</h5>
        </div>
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Run Number</th>
                <th scope="col">Seconds</th>
                <th scope="col">Cones</th>
                <th scope="col">Wrong Direction</th>
                <th scope="col">Run Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for run in runsList %} {% if run[0] == driver[0] %}
            <tr>
                {% for course in courses %} {% if run[1] == course[0] %}
                <td>{{ course[1] }}</td>
                {% endif %} {% endfor %}
                <td>{{ run[2] }}</td>
                <td>{{ run[3] }}</td>
                <td>{{ run[4] }}</td>
                <td>{{ run[5] }}</td>
                <td>{{ run[6] }}</td>
                <!-- Button trigger modal for Admin to edit run data -->
                <!-- ID should be unique. So add 'run[1]-course name' and 'run[2]-run number' to 'data-bs-target' and modal ID. -->
                <td><button type="button" class="btn btn-secondary btn-sm text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ run[1]}}{{ run[2] }}">
                    Edit
                  </button>
                </td>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{ run[1]}}{{ run[2] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ run[1]}}{{ run[2] }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-7" id="staticBackdropLabel">
                                    Edit Run
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{{ url_for('update_run') }}">
                                    <!-- Admin can read only driver id, the coure name, and the run number. -->
                                    <div class="mb-3">
                                        <label for="dr_idDisplay" class="form-label">Driver ID</label>
                                        <input type="text" id="dr_idDisplay" class="form-control" value="{{ driver_id }}" name="driver_id" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="crs_idDisplay" class="form-label">Course</label> {% for course in courses %} {% if run[1] == course[0] %}
                                        <input type="text" id="crs_idDisplay" class="form-control" value="{{ run[1] }} - {{ course[1] }}" name="course_id" readonly> {% endif %} {% endfor %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="run_numDisplay" class="form-label">Run Number</label>
                                        <input type="text" id="run_numDisplay" class="form-control" value="{{ run[2] }}" name="run_number" readonly>
                                    </div>
                                    <!-- ---- -->
                                    <!-- Admin can edit time, cones, and wd. -->
                                    <!-- Time is required before submitting the form. -->
                                    <div class="mb-3">
                                        <label for="InputTime" class="form-label">Seconds*</label>
                                        <!-- Use the 'step' value to limit two decimal places, 
                                            the 'min' value to limit minimum time to 20 as the fastest time in the database is 22, 
                                            and the 'max' value to limit maximum time to 150 that approximately doubles the existed slowest time in the database.-->
                                        <input type="number" class="form-control" id="InputTime" aria-describedby="timeSeconds" value="{{ run[3] }}" name="time_edit" min=20 step=0.01 max=150 required>
                                        <div id="timeSeconds" class="form-text">-Enter a number between 20 and 150, e.g. 25, 77.77</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="InputCones" class="form-label">Cones</label>
                                        <!-- Limit cones input to minimum 0 or maximum 25 using 'min' and 'max' -->
                                        <input type="number" class="form-control" id="InputCones" aria-describedby="conesNum" value="{{ run[4] }}" name="cones_edit" min=0 max=25>
                                        <div id="conesNum" class="form-text">-Enter a whole number equal to or less than 20, e.g. 2, 13</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="InputWD" class="form-label">Wrong Direction</label>
                                        <!-- Limit WD input to 0 or 1 using 'min' and 'max' -->
                                        <input type="number" class="form-control" id="InputWD" aria-describedby="wdNum" value="{{ run[5] }}" name="wd_edit" min=0 max=1>
                                        <div id="wdNum" class="form-text">-Enter 0 or 1</div>
                                    </div>

                                    <br>
                                    <div>
                                        <button type="submit" class="btn btn-dark">Submit</button>
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            {% endif %} {% endfor %}

        </tbody>
    </table>


    <div class="d-grid gap-2 d-md-flex mx-auto">
        <form class="d-flex" role="search" method="post" action="{{ url_for('search') }}">
            <input class="form-control me-2" type="hidden" placeholder=" " aria-label="Search" name="search_query">
            <button class="btn btn-dark text-decoration-none" type="submit">All drivers</button>
        </form>
        <!-- <button type="button" class="btn btn-dark"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Overall Results</a></button> -->
    </div>
</div>{% endblock %}