<!-- Add a driver aged over 25 -->
{% extends "admin_base.html" %}{% block title %}Add Driver{% endblock %} {% block content%}
<div class="container">
    <!-- Header -->
    <div class="bg-body-tertiary">
        <div class="container-fluid py-5 text-center">
            <h1 class="text-body-emphasis">Add a New Driver</h1>
        </div>
    </div>

    <!-- Form to get user input -->
    <!-- Data of user input will be passed to 'add_driver()' after clicking the submit button -->
    <form method="post" action="{{ url_for('add_driver') }}">
        <div class="container border p-3">
            <div class="row m-3">
                <div class="col-md-3">
                    <label for="add_fname" class="form-label">
                        First name*
                    </label>
                    <!-- Name input validation added. Only letters A-Z/a-z allowed and maxlength 20 -->
                    <!-- Can not be empty for submission -->
                    <input type="text" id="add_fname" class="form-control" placeholder="Letter A-Z/a-z" name="add_fname" maxlength="20" pattern="[a-zA-Z]*" required>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="add_sname" class="form-label">
                        Surname*
                    </label>
                    <!-- Name input validation added. Only letters A-Z/a-z allowed and maxlength 20 -->
                    <!-- Can not be empty for submission -->
                    <input type="text" id="add_sname" class="form-control" placeholder="Letter A-Z/a-z" name="add_sname" maxlength="20" pattern="[a-zA-Z]*" required>
                </div>
                <!-- Add some space between each column -->
                <div class="col-md-1"></div>
                <!-- Dropdown box for selecting a car -->
                <div class="col-md-3">
                    <label for="add_carinfo" class="form-label">
                        Select a car*
                    </label>
                    <!-- Loop through the cars list passed from 'add_driver()' and display them as options for admin to choose -->
                    <!-- Display 'car model' and 'drive class', and pass 'car number' to 'add_driver()' -->
                    <!-- This column cannot be empty for submitting the form. -->
                    <select id="add_carinfo" name="add_carinfo" class="form-select" required>
                        <option value="" disabled selected></option>
                        {% for car in cars %}
                        <option value="{{ car[0] }}">{{ car[1] }} - {{ car[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- 'submit' and 'reset' buttons -->
            <div class="row m-3 py-5 ">
                <div class="col text-center ">
                    <button type="submit " class="btn btn-dark ">Submit</button>
                    <button type="reset" class="btn btn-light ms-3 ">Reset</button>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}