<!-- Admin base template for all admin interfaces -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- Only displayed on the admin home page(dashboard) -->
    {% if request.path == "/admin" %}
    <title>Admin Portal</title>
    {% endif %}

    <!-- Other admin interfaces display their own title. -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <!-- Header indicating the current interface only available to admin-->
    <!-- Click to return to the admin dashboard -->
    <!-- Admin can also go to the public portal clicking the link from here -->
    <nav class="navbar bg-body-secondary" data-bs-theme="light">
        <div class="container-fluid d-flex justify-content-between">
            <div>
                <a class="navbar-brand" href="{{ url_for('admin_home') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                  </svg> ADMIN PORTAL
                </a>
            </div>

            <div>
                <a class="icon-link" href="{{ url_for('home') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                  </svg> Enter User Portal
                </a>
            </div>
        </div>
    </nav>
    <!-- Navigation bars directing admin to different pages -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('admin_home') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('junior_list') }}">Junior List</a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" role="search" method="post" action="{{ url_for('search') }}">
                            <input class="form-control me-2" type="hidden" placeholder=" " aria-label="Search" name="search_query">
                            <button class="btn btn-link btn-outline-dark text-white text-decoration-none bg-transparent" type="submit">Drivers</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <!-- Use modal to ask if admin is going to add a junior driver or an adult driver -->
                        <button class="btn btn-link btn-outline-dark text-white text-decoration-none bg-transparent" type="button" data-bs-toggle="modal" data-bs-target="#checkjuniorModal">
                                Add Driver
                        </button>
                    </li>
                </ul>
                <!-- Use 'form' to realise the search functionality -->
                <!-- If nothing is entered, admin can view all drivers after clicking the search button -->
                <form class="d-flex" role="search" method="post" action="{{ url_for('search') }}">
                    <input class="form-control me-2" type="search" placeholder="Enter a name" aria-label="Search" name="search_query">
                    <button class="btn btn-dark btn-outline-light" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>

    <!-- Toggled modal asking if admin is adding a new junior driver or an adult driver-->
    <!-- The first modal asking if the new driver is a junior, 'yes' to go to the second modal, and 'no' to go to the 'add_driver' page-->
    <!-- If 'yes' in the first modal, admin has to enter the date of birth of the new driver. -->
    <!-- First modal -->
    <div class="modal fade" id="checkjuniorModal" aria-hidden="true" aria-labelledby="checkjuniorModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                      </svg>
                    <h1 class="modal-title fs-5 px-2" id="checkjuniorModal">Add a new driver</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="m-3 p-3">Is the new driver a junior? (aged 12-25)</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ url_for('add_driver') }}"><button type="button" class="btn btn-dark mx-2 mb-3">No</button></a>
                    <button type="button" class="btn btn-secondary mx-2 mb-3" data-bs-target="#ask_dateofbirth" data-bs-toggle="modal">Yes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Second modal -->
    <div class="modal fade" id="ask_dateofbirth" aria-hidden="true" aria-labelledby="ask_dateofbirthLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    <h1 class="modal-title fs-5 px-2" id="ask_dateofbirth">Please select the date of birth</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('add_junior_driver') }}">
                        <div class="col p-3">
                            <label for="add_dobirth" class="form-label">
                                    Date of birth* 
                            </label>
                            <input type="date" id="add_dobirth" class="form-control" name="add_dobirth" max="2012-12-31" required>
                        </div>
                        <div class="d-flex p-3  justify-content-center">
                            <button type="submit" class="btn btn-dark mx-2 mb-3">Submit</button>
                            <button class="btn btn-secondary mx-2 mb-3" data-bs-target="#checkjuniorModal" data-bs-toggle="modal">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- If the admin successfully adds a new driver, display a success message on the admin dashboard page -->
    {% if success_add_message %}
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="liveAlertPlaceholder">
        <div class="d-flex justify-content-between align-items-center">
            {{ success_add_message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}

    <!-- Home page content only displayed on the admin dashboard-->
    {% if request.path == '/admin' %}
    <div class="container-fluid py-3">
        <!-- Header -->
        <header class="pb-3 mb-4 border-bottom text-body-emphasis d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                    <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                    <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                  </svg>
            <span class="fs-4 ms-2">Dashboard</span>
        </header>

        <!-- Admin home page background -->
        <div class="p-5 mb-4 bg-body-tertiary rounded-3 bg-image" style="background-image: url('static/admin_bg.jpg');">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-light">Welcome to the Admin Portal!</h1>
            </div>
        </div>
        <!-- Shortcut blocks to different pages in the admin interface -->
        <!-- Shortcut to 'junior list' -->
        <div class="row align-items-md-stretch">
            <div class="col-md-6 py-3">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Junior List</h2>
                    <p>View all registered junior drivers.</p>
                    <a href="{{ url_for('junior_list') }}">
                        <button class="btn btn-outline-light" type="button">View</button>
                    </a>
                </div>
            </div>
            <!-- Shortcut to 'all drivers' -->
            <div class="col-md-6 py-3">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>All Drivers</h2>
                    <p>View all current registered drivers.</p>
                    <form class="d-flex" role="search" method="post" action="{{ url_for('search') }}">
                        <input class="form-control me-2" type="hidden" placeholder=" " aria-label="Search" name="search_query">
                        <button class="btn btn-outline-secondary text-bg-dark" type="submit">View</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <!-- Shortcut to 'add driver' -->
            <div class="col-md-6 py-3">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Add Driver</h2>
                    <p>Add a new driver.</p>
                    <button class="btn btn-outline-secondary text-bg-dark" type="submit" data-bs-toggle="modal" data-bs-target="#checkjuniorModal">Add</button>
                </div>
            </div>
            <!-- Shortcut to the public interface -->
            <div class="col-md-6 py-3">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Log Out</h2>
                    <p>Leave the Admin Portal and return to the User Portal.</p>
                    <a href="{{ url_for('home') }}">
                        <button class="btn btn-outline-light" type="button">Leave</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Other admin pages will display content here -->
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %} {% block content %}{% endblock %}
    </section>

    <!-- Footer for all admin pages -->
    <!-- Shortcut to the admin home page/dashboard by clicking the link on different admin pages -->
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('admin_home') }}" class="nav-link px-2 text-body-secondary text-decoration-underline">Return to Dashboard</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Xinwu Wang-1154492, Lincoln University</p>
    </footer>

    <!-- Bootstrap's JavaScript bundle including Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>

</html>