<!-- This page is for adding new junior drivers who need a caregiver if they are 16 years old or younger. -->
{% extends "admin_base.html" %}{% block title %}Add a Junior Driver{% endblock %} {% block content%}
<div class="container">
    <!-- Header -->
    <div class="bg-body-tertiary">
        <div class="container-fluid py-5 text-center">
            <h1 class="text-body-emphasis">Add a New Junior Driver</h1>
        </div>
    </div>

    <div class="container border p-3">
        <!-- Use a form to get user input and pass data to 'add_dr_caregiver()'(for juniors who need a caregiver) after submission -->
        <form method="post" action="{{ url_for('add_dr_caregiver') }}">
            <div class="row m-3">
                <div class="col-md-3">
                    <label for="add_fname" class="form-label">
                        First Name*
                    </label>
                    <!-- Name input validation added. Only letters A-Z/a-z allowed and maxlength 20 -->
                    <!-- Can not be empty for submission -->
                    <input type="text" id="add_fname" class="form-control" placeholder="Letter A-Z/a-z" name="add_fname" maxlength="20" pattern="[a-zA-Z]*" required>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="add_sname" class="form-label">
                        Surname*
                    </label>
                    <!-- Name input validation added. Only letters A-Z/a-z allowed and maxlength 20 -->
                    <!-- Can not be empty for submission -->
                    <input type="text" id="add_sname" class="form-control" placeholder="Letter A-Z/a-z" name="add_sname" maxlength="20" pattern="[a-zA-Z]*" required>
                </div>
                <div class="col-md-1"></div>
                <!-- Dropdown box for selecting a car -->
                <div class="col-md-3">
                    <label for="add_carinfo" class="form-label">
                        Select a car*
                    </label>
                    <!-- Loop through the cars list passed from 'add_junior_driver()' and display them as options for admin to choose -->
                    <!-- Display 'car model' and 'drive class', and pass 'car number' to 'add_driver()' -->
                    <!-- This column cannot be empty for submitting the form. -->
                    <select id="add_carinfo" name="add_carinfo" class="form-select" required>
                        <option value="" disabled selected></option>
                        {% for car in cars %}
                        <option value="{{ car[0] }}">{{ car[1] }} - {{ car[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Date of birth and age displayed only -->
            <div class="row m-3">
                <div class="col-md-3">
                    <label for="add_dobirth" class="form-label">
                        Date of Birth
                    </label>
                    <input type="text" id="add_dobirth" class="form-control" value="{{ dobirth }}" name="add_dobirth" readonly>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="add_age" class="form-label">
                        Age
                    </label>
                    <input type="text" id="add_age" class="form-control" value="{{ age }}" name="add_age" readonly>
                </div>
                <div class="col-md-1"></div>
                <!-- Loop through the caregivers list passed from 'add_junior_driver()' -->
                <!-- Display each caregiver's full name and pass their driver ID to 'add_dr_caregiver()' if their name is selected -->
                <div class="col-md-3">
                    <label for="add_caregiver" class="form-label">
                        Select a caregiver*
                    </label>
                    <select id="add_caregiver" name="add_caregiver" class="form-select" required>
                        <option value="" disabled selected></option>
                        {% for caregiver in caregivers %}
                        <option value="{{ caregiver[0] }}">{{ caregiver[1]}} {{ caregiver[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- 'submit' and 'reset' buttons -->
            <div class="row m-3 py-3 ">
                <div class="col text-center ">
                    <button type="submit " class="btn btn-dark ">Submit</button>
                    <button type="reset" class="btn btn-light ms-3 " data-bs-dismiss="modal ">Reset</button>
                </div>
            </div>
        </form>

    </div>
</div>


</div>
{% endblock %}