<!-- Base template for all public interface templates -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- Only display on the homepage of the public interface -->
    {% if request.path == '/' %}
    <title>User Portal</title>
    {% endif %}
    <!-- Other public interfaces display their own title. -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <!-- Head for all public interfaces. Users can return to the public homepage easily when clicking this header -->
    <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"> USER PORTAL - 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
              </svg> | Bankside Rakaia Motorkhana Mavens - Competition Event
            </a>
        </div>
    </nav>

    <!-- Navigation bar for all public interfaces -->
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('listdrivers') }}">Driver List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('listcourses') }}">Course List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('overall_results') }}">Overall Results</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Run Detail
                        </a>
                        <ul class="dropdown-menu">
                            {% for driver in drivers_info %}
                            <li><a class="dropdown-item" href="{{ url_for('driver_run_detail', driver_id=driver[0]) }}">{{ driver[1] }} {{ driver[2] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('showgraph') }}">Top 5 Graph</a>
                    </li>
                </ul>
                <!-- Link controlling the modal to enter the admin portal -->
                <div class="flex-shrink-0">
                    <a class="icon-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg> Enter Admin Portal
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Modal for entering the admin portal-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      </svg>
                    <h1 class="modal-title fs-5 px-2" id="loginModalLabel">
                        <b>Log into Amin Portal</b>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col p-3">
                        <label for="loginModal" class="form-label">
                                Username 
                        </label>
                        <input type="text" id="loginModal" class="form-control" value="admin.X@mortorkhana.com" readonly>
                    </div>
                    <div class="col p-3">
                        <label for="add_dobirth" class="form-label">
                                Password 
                        </label>
                        <input type="text" id="loginModal" class="form-control" value="••••••••" readonly>
                    </div>
                    <div class="form-text col p-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="loginModal">
                        <label class="form-check-label" for="flexRadioDefault1">*<strong>I agree</strong>.</label>
                        <label>This login functionality is just an example and only allows Admin to access.</label>
                    </div>
                </div>
                <div class="modal-footer d-flex p-3  justify-content-center">
                    <a href="{{ url_for('admin_home') }}"><button type="button" class="btn btn-dark">Login</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Forgot Password</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Displayed on the public home page only -->
    {% if request.path == '/' %}
    <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <rect width="100%" height="80%" fill="var(--bs-secondary-color)"><img src="{{ url_for('static', filename='home_bg.jpg') }}" class="img-fluid" alt="home page image one welcome" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></rect>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="display-3 fw-bold">Welcome to the Motorkhana Event!</h1>
                        <p class="opacity-75">Enjoy fast and furious!</p>
                        <p><a class="btn btn-lg btn-outline-light btn-dark" href="{{ url_for('listdrivers') }}">View All Drivers</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <rect width="100%" height="80%" fill="var(--bs-secondary-color)"><img src="{{ url_for('static', filename='home_bg2.jpg') }}" class="img-fluid" alt="home page image two courses" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></rect>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="display-3 fw-bold">Six Eciting Courses</h1>
                        <p>Bringing out a monster</p>
                        <p><a class="btn btn-lg btn-outline-light btn-dark" href="{{ url_for('listcourses') }}">View Courses</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <rect width="100%" height="80%" fill="var(--bs-secondary-color)"><img src="{{ url_for('static', filename='home_bg3.jpg') }}" class="img-fluid" alt="home page image three overall results" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></rect>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 class="display-3 fw-bold">Win a Cup!</h1>
                        <p>The speed party has just begun.</p>
                        <p><a class="btn btn-lg btn-outline-light btn-dark" href="{{ url_for('showgraph') }}">View Winners</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}

    <!-- Content to display in each public template -->
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %} {% block content %}{% endblock %}
    </section>

    <!-- Footer for all public interfaces -->
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <!-- Shortcut to the public home interface -->
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link px-2 m-1 text-body-secondary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house me-1" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg> Home
                </a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Xinwu Wang-1154492, Lincoln University</p>
    </footer>

    <!-- Bootstrap's JavaScript bundle including Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>

</html>