{% extends "base.html" %} {% block content %}



<!-- code to display list of courses-->


<div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
        <h1 class="text-body-emphasis">Course List</h1>
        <br />
        <p class="col-lg-8 mx-auto lead">
            current competition courses
        </p>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
            {% for course in course_list %}
            <div class="col">
                <div class="card border-light text-bg-light shadow-sm mb-3 h-100">
                    <div class="card-header">
                        <h5>Course {{course[0]}} - {{course[1]}}</h5>
                    </div>
                    <img src="{{ url_for('static', filename=course[2]) }}" class="card-img-top" alt="{{course[2]}}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}