<!-- Display the driver's all run data -->
{% extends "base.html" %} {% block title %}{{ driver[1] }} {{ driver[2] }}'s Details{% endblock %}{% block content %}

<div class="container mt-3 marketing">

    <!-- Three columns of text below the carousel -->
    <!-- Display driver's personal information -->
    <div class="row">
        <div class="col-lg-4">
            <h1 class="fw-normal">{{ driver[1] }} {{ driver[2] }}</h1>
            <h5 class="fw-normal">Driver ID: {{ driver_id }}</h5>
            <h5 class="fw-normal">Car Model: {{ driver[3] }}</h5>
            <h5 class="fw-normal">Driver Class: {{ driver[4] }}</h5>
        </div>
    </div>


    <!-- START THE FEATURETTES -->
    <!-- Display the driver's all run data -->
    <hr class="featurette-divider">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Run Number</th>
                <th scope="col">Seconds</th>
                <th scope="col">Cones</th>
                <th scope="col">Wrong Direction</th>
                <th scope="col">Run Total</th>
            </tr>
        </thead>
        <!-- Get data passed from 'driver_run_detail()' and add data to each column -->
        <tbody>
            {% for run in runsList %} {% if run[0] == driver[0] %}
            <tr>
                <!-- Display the course name rather than the course id -->
                {% for course in courses %}{% if run[1] == course[0] %}
                <td>{{ course[1] }}</td>
                {% endif %}{% endfor %}
                <td>{{ run[2] }}</td>
                {% if run[3] %}
                <td>{{ run[3] }}</td>
                {% else %}
                <td></td>
                {% endif %} {% if run[4] %}
                <td>{{ run[4] }}</td>
                {% else %}
                <td></td>
                {% endif %} {% if run[5] == 1 %}
                <td>WD</td>
                {% else %}
                <td></td>
                {% endif %} {% if run[6] %}
                <td>{{ run[6] }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endif %} {% endfor %}

        </tbody>
    </table>

    <!-- Shortcut to 'driver list' and 'overall results' -->
    <div class="d-grid gap-2 d-md-flex mx-auto">
        <a href="{{ url_for('listdrivers') }}"><button type="button" class="btn btn-dark">Driver List</button></a>
        <a href="{{ url_for('overall_results')}}"><button type="button" class="btn btn-dark">Overall Results</button></a>
    </div>
</div>
{% endblock %}